.game-grid {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell-row {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid white;
    height: 16vw;
    width: 16vw;
    background-color: deepskyblue;
}
.cell-character {
    width: 10.5vw;
    height: 10.5vw;
    background: none;
}
